<!-- exchange/templates/exchange/accepted_requests.html -->

{% extends 'accounts/base.html' %}

{% block content %}
<div class="container">
  <h1>Accepted Requests</h1>
  {% if accepted_requests %}
    <div class="exchange-requests">
      {% for request in accepted_requests %}
        <div class="exchange-request">
          <!-- Display request details -->
          <p><strong>Item: </strong>{{ request.listing.item_name }}</p>
          <p><strong>Status: </strong>{{ request.status }}</p>
          <p><strong>Requesting Person: </strong>{{ request.sender }}</p>
          <p><strong>Message: </strong>{{ request.message }}</p>
          <p><strong>Time: </strong>{{ request.created_at }}</p>
        </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No accepted requests yet.</p>
    {% endif %}
</div>
{% endblock %}
