<!-- exchange/templates/exchange/exchange_requests.html -->

{% extends 'accounts/base.html' %}

{% block content %}
<div class="container">
  <h1>Exchange Requests</h1>
  <div class="btn-group" role="group">
    <a href="{% url 'my_requests' %}" class="btn btn-primary">My Requests <span class="badge bg-primary">{{ sent_count }}</span></a>
    <a href="{% url 'received_requests' %}" class="btn btn-info">Received Requests <span class="badge bg-info">{{ received_count }}</span></a>
    <a href="{% url 'trend_analysis' %}" class="btn btn-secondary">Trend Analysis</a>
</div>
</br>
</br>
</br>

</div>
{% endblock %}
