<!-- exchange/templates/exchange/manage_exchange_requests.html -->

{% extends 'accounts/base.html' %}

{% block content %}
<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="btn-group" role="group">
        <a href="{% url 'cancelled_requests' %}" class="btn btn-secondary">Cancelled</a>
        <a href="{% url 'accepted_requests' %}" class="btn btn-success">Accepted</a>
        <a href="{% url 'rejected_requests' %}" class="btn btn-danger">Rejected</a>
      </div>
    </div>
  </div>
  <h1>Manage Exchange Requests</h1>

  <!-- Filter buttons -->
  

  <!-- Active Requests -->
  <div class="row">
    <div class="col-md-12">
      <h2>Active Requests</h2>
      {% if exchange_requests %}
        <div class="exchange-requests">
          {% for request in exchange_requests %}
            {% if request.status != 'Cancelled' %}
              <div class="exchange-request">
                {% if request.sender == request.user %}
                  <p><strong>From: </strong>My Request</p>
                {% else %}
                  <p><strong>From: </strong>{{ request.sender.username }}</p>
                {% endif %}
                <p><strong>Item: </strong>{{ request.listing.item_name }}</p>
                <p><strong>Status: </strong>{{ request.status }}</p>
                <p><strong>Message: </strong>{{ request.message }}</p>
                <p><strong>Time: </strong>{{ request.created_at }}</p>
                <div class="action-buttons">
                  {% if request.status == 'Pending' %}
                    <form method="post" action="{% url 'manage_exchange_requests' pk=request.user.pk %}">
                      {% csrf_token %}
                      <input type="hidden" name="request_id" value="{{ request.id }}">
                      <button type="submit" name="action" value="accept" class="btn btn-primary">Accept</button>
                      <button type="submit" name="action" value="reject" class="btn btn-danger">Reject</button>
                      <button type="submit" name="action" value="message" class="btn btn-secondary">Message</button>
                      <button type="button" class="btn btn-warning" onclick="confirmCancel('{{ request.id }}')">Cancel</button>
                    </form>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <p>No active exchange requests yet.</p>
      {% endif %}
    </div>
  </div>
  
</div>
<script>
  function confirmCancel(requestId) {
      if (confirm("Are you sure you want to cancel this exchange request?")) {
          document.getElementById('request_id').value = requestId;
          document.getElementById('action').value = 'cancel';
          document.getElementById('cancelForm').submit();
      }
  }
  </script>
  
{% endblock %}
