{% extends 'accounts/base.html' %}

{% block content %}
<div class="container">
  <!-- Button group for navigation -->
  <div class="row mb-4">
    <div class="col">
      <div class="btn-group d-flex" role="group">
        <a href="{% url 'accepted_requests' %}" class="btn btn-success flex-fill" style="text-decoration: none;">Accepted Requests 
          <!-- <span class="badge bg-success">{{ accepted_count }}</span> -->
      </a>
        <a href="{% url 'rejected_requests' %}" class="btn btn-danger flex-fill" style="text-decoration: none;">Rejected Requests 
          <!-- <span class="badge bg-danger">{{ rejected_count }}</span> -->
        </a>
        <a href="{% url 'cancelled_requests' %}" class="btn btn-warning flex-fill" style="text-decoration: none;">Cancelled Requests 
          <!-- <span class="badge bg-warning">{{ cancelled_count }}</span> -->
        </a>
      </div>
    </div>
  </div>
  <h1>Received Requests</h1>
  <p>Total Received Requests: {{ total_requests }}</p>
  
  <div class="exchange-requests">
    {% if received_requests %}
      <div class="received-requests">
        {% for request in received_requests %}
          <div class="exchange-request card">
            <div class="card-body">
              <h3 class="card-title">{{ request.listing.item_name }}</h3>
              <img src="{{ request.listing.image.url }}" class="detail-image img-fluid" alt="{{ request.listing.item_name }}">
              <p class="card-text"><strong>Status: </strong>{{ request.status }}</p>
              <p class="card-text"><strong>Requesting Person: </strong>{{ request.sender }}</p>
              <p class="card-text"><strong>Message: </strong>{{ request.message }}</p>
              <p class="card-text"><strong>Time: </strong>{{ request.created_at }}</p>
              <!-- Add button to view exchange request details -->
              <a href="{% url 'exchange_request_detail' request.id %}" class="btn btn-primary" style="text-decoration: none;">
                View Details
              </a>
            </div>
          </div>
          <br> <!-- Add spacing between request items -->
        {% endfor %}
      </div>
    {% else %}
      <p>No received requests yet.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
