<!-- exchange/templates/exchange/trend_analysis.html -->

{% extends 'accounts/base.html' %}

{% block content %}
<div class="container">
  <h1>Trend Analysis</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Received Exchange Request Trend</h3>
          <div>
            <img src="{% url 'trend_analysis_image' %}" alt="Received Exchange Request Trend Graph" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">My Sent Exchange Request Trend </h3>
          <div>
            <img src="{% url 'trend_analysis_image' %}" alt="Sent Exchange Request Trend Graph" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

