<!-- accounts/templates/accounts/home.html -->

{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<!-- <div class="container"> -->
  <div class="hero-section">
    <div class="hero-content">
        <h1 class="hero-title">Welcome to FHarvest Community Food Exchange</h1>
        <p class="hero-description">This is a platform where you can exchange your surplus food items with other community members. Explore the listings, send exchange requests, chat with other users, and join community events.</p>
        <div class="hero-action">
        </div>
    </div>
</div>


  <section class="listings-section">
    <h2>Available Food for Exchange</h2>
    <div class="listings-grid">
      {% for listing in featured_listings %}
      <div class="listing-card">
        <img src="{{ listing.image.url }}" alt="{{ listing.item_name }}">
        <div class="listing-details">
          <h2>{{ listing.item_name }}</h2>
          <p>{{ listing.description }}</p>
          <p>Quantity: {{ listing.quantity }}</p>
          <p>Expiration Date: {{ listing.expiration_date }}</p>
          <h3>{% if user == listing.user %}My Post{% else %}Posted by: {{ listing.user.username }}{% endif %}</h3>
          <div class="actions">
            <button type="button" class="btn btn-info">
              <a href="{% url 'listing_detail' listing.id %}" class="btn btn-info btn-lg">View Details</a> 
            </button></div></br>
            {% if user.is_authenticated and user != listing.user %}
            <button type="button" class="btn btn-secondary"> 
              <a href="{% url 'send_exchange_request' listing.id %}" class="btn btn-secondary btn-lg">Send Exchange Request</a>
            </button>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


  </br></br>
  <div class="create-listing">
      <a href="{% url 'listing_create' %}" class="btn btn-add-item">Add an Item</a>
    </div>
  </div></br>
  </section>
</div>

</div></br></div></br></div></br></div></br>
  <section class="request-messages-section">
    <div class="latest-messages-section">
      {% if unread_messages_count > 0 %}
      <div class="request-messages-section">
        <a href="{% url 'exchange_requests' %}" class="btn btn-success">View My Exchange Requests</a>
    </div>
    <div class="notification">
        <a href="{% url 'exchange_requests' %}" class="btn btn-message">
          <i class="bi bi-bell-fill"></i>
          <span class="badge">{{ unread_messages_count }}</span>
          <span class="message-prompt"></span>
        </a>
      </div>
      {% endif %}
    </div>
  </section>
</br></br>
</div>
<div class="container">
  <section class="events-section">
    <h2>Upcoming Events</h2>
    <ul class="events-list">
      {% for event in upcoming_events %}
      <li>
        <h3>{{ event.event_name }}</h3>
        <p>{{ event.description }}</p>
        <p>Date: {{ event.date }}</p>
        <p>Location: {{ event.location }}</p>
        <div class="event-actions">
          <a href="{% url 'event_detail' event.id %}" class="btn btn-view-details">View Details</a>
          {% if user.is_authenticated %}
            <!-- <a href="{% url 'event_rsvp' event.id %}" class="btn btn-rsvp">RSVP</a> -->
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    <!-- Display the "Create Event" button outside the loop -->
    {% if user.is_authenticated and user.is_staff %}
    <div class="create-event">
      <a href="{% url 'create_event' %}" class="btn btn-success">Create Event</a>
    </div>
    {% endif %}
  </section>
</br></br>
<div class="container">


  
  <section class="reviews-section">
    <h2>Reviews</h2>
    {% for review in user_reviews %}
    <div class="review-card">
      <h3>{% if request.user == review.reviewer %}My Review{% else %}{{ review.reviewer.username }}{% endif %}</h3>
      <div class="rating">
        {% for _ in '12345' %}
          {% if forloop.counter <= review.rating %}
            <span class="star selected"></span>
          {% else %}
            <span class="star"></span>
          {% endif %}
        {% endfor %}
      </div>
      <p>{{ review.rating }}/5</p> <!-- Show the given rate out of 5 -->
      <p>{{ review.comment }}</p>
      {% if user.is_staff or user == review.reviewer %}
        <div class="review-actions">
          <a href="{% url 'edit_review' review.id %}" class="btn btn-edit-review">Edit</a>
          <a href="{% url 'delete_review' review.id %}" class="btn btn-danger">Delete</a>
        </div>
      {% endif %}
    </div>
    {% endfor %}
  </br></br>
</div>
  </section>
</br></br>
<div class="container">
  <!-- Add a form for users to post reviews -->
  {% if user_reviews %}
  <section class="post-review-section">
    <h2>Post Your Review</h2>
    <form method="post" action="{% url 'post_review' %}">
      {% csrf_token %}
      <div class="form-group">
      <h3><label for="rating">Rating:</label></h3>
    <h2>
    <select name="rating" id="rating">
          <h2><option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          </h2>
      </select>
    </h2>

      </div>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea name="comment" id="comment" rows="4"></textarea>
      </div>
    <h2>
    <button type="submit" class="btn btn-primary">Submit Review</button>
  </h2>
</form>
  </section>
  {% endif %}
</div>
{% endblock %}
