<!-- accounts/templates/accounts/profile.html -->

{% extends 'accounts/base.html' %}
{% block content %}
    <h1>Profile</h1>
    {% if profile %}
        <p>Username: {{ profile.user.username }}</p>
        <p>Location: {{ profile.location }}</p>
        <p>Dietary Preferences: {{ profile.dietary_preferences }}</p>
        <p>Food Allergies: {{ profile.food_allergies }}</p>
    {% else %}
        <p>No profile found for the current user.</p>
        <a href="{% url 'profile_create' %}">Create Profile</a>
    {% endif %}
{% endblock %}